<%- include('header') -%>

<div class="container-fluid">
  <form method="post" onsubmit="return doPost(this)">
    <div class="form-group">
      <label>Title</label>
      <input type="text" name="title" class="form-control" placeholder="Title">
    </div>

    <!-- Button trigger modal -->
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" type="button">
       Upload image
    </button>

    <div class="form-group">
      <label>Content</label>
      <textarea name="content" class="form-control" placeholder="Content"></textarea>
    </div>

    <input type="submit" value="Submit" class="btn btn-info">
  </form>

  <table class="table">
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Image</th>
      <th>Action</th>
    </tr>
    <% posts.map(post => { %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td>
          <% if (post.image) { %>
            <img width="300" src="<%= post.image %>" alt="">
          <% } else { %>
            <img width="300" src="http://placehold.it/750x300" alt="">
          <% } %>
        </td>
        <td>
          <a href="/post/edit/<%= post._id %>" class="btn btn-warning btn-sm">
            Edit
          </a>
          <button type="button" class="btn btn-danger btn-sm" onclick="doDelete(
          '<%= post._id %>', '<%= post.image %>')">
            Delete
          </button>
        </td>
      </tr>
    <% }) %>
  </table>
</div>

<script type="text/javascript">
  const doDelete = (postId, image) => {
    if (confirm("Are you sure delete this?")) {
      $.ajax({
        url: "/do-delete",
        method: "post",
        data: {
          _id: postId,
          image
        },
        success: res => {
          const socket = io()
          socket.emit("delete_post", postId)

          alert(res)
        }
      })
    }
  }

  const doPost = form => {
    let formData = {
      title: form.title.value, content: form.content.value, image: imagePath
    }

    $.ajax({
      url: "/do-post",
      method: "post",
      data: formData,
      success: res => {
        alert(res.text)

        formData._id = res._id

        const socket = io()
        socket.emit("new_post", formData)
      }
    })

    return false
  }
</script>

<!-- Modal -->
<div class = "modal fade" id = "myModal" tabindex = "-1" role = "dialog"
   aria-labelledby = "myModalLabel" aria-hidden = "true">

   <div class = "modal-dialog">
      <div class = "modal-content">

         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel">
               Upload image
            </h4>

            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
              &times;
            </button>
         </div>

         <div class = "modal-body">
            <form id="form-upload" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <input type="file" name="file" class="form-control">
              </div>

              <input type="submit" class="btn btn-success" value="Upload">
            </form>
         </div>

      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->

</div><!-- /.modal -->

<script type="text/javascript">
  let imagePath

  $('#form-upload').on('submit', e => {
    e.preventDefault()
    let formData = new FormData()
    formData.append('file', $('input[type=file]')[0].files[0])

    $.ajax({
      url: "/do-upload-image",
      method: "post",
      data: formData,
      contentType: false,
      cache: false,
      processData: false,
      success: res => {
        imagePath = res
        $('#myModal').modal('hide')
      }
    })
  })
</script>

<%- include('footer') -%>
