<%- include('header') -%>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
      <%= post.title %>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Blog Home 2</li>
    </ol>

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Preview Image -->
        <% if (post.image) { %>
          <img class="img-fluid rounded" src="<%= post.image %>" alt="">
        <% } else { %>
          <img class="img-fluid rounded" src="http://placehold.it/750x300" alt="">
        <% } %>

        <hr>

        <!-- Date/Time -->
        <p>Posted on January 1, 2017 at 12:00 PM</p>

        <hr>

        <!-- Post Content -->
        <p class="lead">
          <%- post.content %>
        </p>
        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form method="post" onsubmit="return doComment(this)">
              <input type="hidden" id="post_id" name="post_id" value="<%= post._id %>">
              <div class="form-group">
                <input type="text" name="username" placeholder="username" class="form-control">
              </div>

              <div class="form-group">
                <input type="email" name="email" placeholder="email" class="form-control">
              </div>

              <div class="form-group">
                <textarea class="form-control" name="comment" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <script type="text/javascript">
          const socket = io()

          const doComment = form => {
            const formData = {
              username: form.username.value,
              comment: form.comment.value,
              post_id: form.post_id.value,
              email: form.email.value
            }

            $.ajax({
              url: "/do-comment",
              method: "post",
              data: formData,
              success: res => {
                formData._id = res._id

                socket.emit("new_comment", formData)

                alert(res.text)
              }
            })

            return false
          }

          socket.on('new_comment', formData => {
            if (formData.post_id == $('#post_id').val()) {
              const html = `<div class="media mb-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
              <h5 class="mt-0">${formData.username}</h5>
              ${formData.comment}
              </div>
              </div>`

              $('#comments').prepend(html)
            }
          })

          socket.on('new_reply', formData => {
            const html = `<div class="media mb-4">
              <img src="http://placehold.it/50x50" class="d-flex mr-3 rounded-circle">

              <div class="media-body">
                <h5 class="mt-0">${formData.name}</h5>

                ${formData.reply}
              </div>
            </div>`

            $('#replies-'+formData.comment_id).append(html)
          })

          const doReply = form => {
            const formData = {
              post_id: form.post_id.value,
              comment_id: form.comment_id.value,
              name: form.name.value,
              reply: form.reply.value,
              comment_email: form.comment_email.value
            }

            $.ajax({
              url: '/do-reply',
              method: 'post',
              data: formData,
              success: res => {
                formData._id = res._id
                socket.emit('new_reply', formData)

                form.name.value = ""
                form.reply.value = ""

                alert(res.text)
              }
            })

            return false
          }
        </script>

        <!-- Single Comment -->
        <div id="comments">
          <% if (post.comments) { %>
            <% post.comments.reverse().forEach(comment => { %>
              <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                  <h5 class="mt-0"><%= comment.username %></h5>
                  <%= comment.comment %>

                  <div id="replies-<%= comment._id %>">
                    <% if (comment.replies) { %>
                      <% comment.replies.reverse().forEach(reply => { %>
                        <div class="media mb-4">
                          <img src="http://placehold.it/50x50" class="d-flex mr-3 rounded-circle">

                          <div class="media-body">
                            <h5 class="mt-0"><%= reply.name %></h5>

                            <%= reply.reply %>
                          </div>
                        </div>
                      <% }) %>
                    <% } %>
                  </div>

                  <% if (comment._id) { %>
                    <div class="col-md-3">
                      <form method="post" onsubmit="return doReply(this)">
                        <input type="hidden" name="post_id" value="<%= post._id %>">
                        <input type="hidden" name="comment_id" value="<%= comment._id %>">
                        <input type="hidden" name="comment_email" value="<%= comment.email %>">

                        <div class="form-group">
                          <input type="text" name="name" class="form-control" placeholder="Enter name">
                        </div>

                        <div class="form-group">
                          <textarea type="text" name="reply" class="form-control" placeholder="Enter reply"></textarea>
                        </div>

                        <input type="submit" value="Reply" class="btn btn-info btn-sm">
                      </form>
                    </div>
                  <% } %>
                </div>
              </div>
            <% }) %>
          <% } %>
        </div>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card mb-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

<%- include('footer') -%>
